@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Lobster';
@import 'https://fonts.googleapis.com/css?family=Nunito';
html {
    font: 15pt Arial;
}
body {
    background: url("istra1920.jpg") no-repeat top center fixed;
    background-size: cover;
}

div::before {
    content: " José Rocha Sobrinho ";
    font: 10pt Arial;
    font-weight: bold;
    color: white;
    background-color: #273747;
    padding: 5px;
    display: block;
    position: relative;
    top: -10px;
    left: -10px;
    width: 560px;
}

div {
    background-color: rgba(255,255,255,.8);
    margin: 100px auto 100px auto;
    padding: 10px;
    width: 550px;
    min-height:300px;
}

a {
    color: #273747;
    text-decoration: none;
    font-weight: bold;
    font: 11pt Helvetica;
}

a:hover {
    text-decoration: underline;
}

span.foco {
    font-weight: bold;
    color: #7e050c;
}
header#cabecalho img#logo {
	position: absolute;
	left: 980px;
	top: -20px;
}
header#cabecalho h1{
	position: center;
    left: 0px;
    font-family: 'Lobster', cursive;
	color: #dddddd;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 0px;
	border-top: 1px solid #dddddd;
}
header#cabecalho h2{
	position: center;
    left: 0px;
    font-family: 'Nunito', sans-serif;
	color: #dddddd;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 0px;
	border-bottom: 1px solid #dddddd;
}
nav#menu {
	display: block;
}

nav#menu  ul {
		list-style: none;
		text-Transform: uppercase;
		position: absolute;
		top: -20px;
		left: 470px;
}
nav#menu li {
	display: inline-block;
	background-color: #dddddd;
	padding: 10px;
	margin: 2px;
	transition: background-color 1s;
}

nav#menu li:hover {
	background-color: #606060;
}

nav#menu h1 {
	display: none;
}

nav#menu a {
	color: #000000;
	text-decoration: none;
}

nav#menu a:hover {
	color: #ffffff;
}