@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Lobster';
@import 'https://fonts.googleapis.com/css?family=Nunito';
header#cabecalho {
    position: relative;
    text-align: center;
    color: white;
}

header#cabecalho img#logo {
	position: absolute;
	left: 980px;
	top: -20px;
}

body#srj {
    background-image: url("istra1920.jpg");
}
header#cabecalho h1{
    position: center;
    left: 0px;
    font-family: 'Lobster', cursive;
	color: #dddddd;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 0px;
}
header#cabecalho h2{
   position: center;
    left: 0px;
    font-family: 'Nunito', sans-serif;
	color: #dddddd;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 0px;
}
header#cabecalho hgroup{
	border-top: 1px solid #dddddd;
}